#sideBar{
  background-color: #f43f08;
  padding-top: 80px;
}
span{
  color: white;
  font-weight: bold;
}
.sideBarEleActive{
  background-color:white;
  color: #f43f08;
}

.actived{
  color: #f43f08;
}
.sideBarEle:hover{
  background-color:rgb(244, 189, 167);
  color: #f43f08;
}

.sideBarEle:hover span{
  background-color:rgb(244, 189, 167);
  color: #f43f08;
  
}
.sideBarEle:hover .icon{
  color: #f43f08;
  
}
.icon{
  color:white;
}