@media (min-width: 200px) {
  main {
    /* padding-left: 80px; */
  }
  #formContent{
    margin-top: 80px;
    margin-left: 10px;
  }
  .displayTable{
    margin-left: 80px;
  }
  #animation1{
    position: relative;
  left: -90px;
  }
}
@media (min-width: 700px) {
  main {
    /* padding-left: 200px; */
  }
  #formContent{
    margin-top: 100px;
    margin-left: 150px;
    min-width: 700px;
  }
  .displayTable{
    margin-left: 200px;
  }
}
@media (min-width: 991.98px) {
    main {
      /* padding-left: 240px; */
    }
    #formContent{
      /* margin-top: 130px; */

    }
    .displayTable{
      margin-left: 350px;
      padding: 20px;
    }
    #addButton{
      position: relative;
      left: 250px;
    }
  }

#addButton{
  background-color: #f43f08;
  color: white;
  
}
#btn{
  background-color: #f43f08;
  color: white;
  
}


 